name: Build and Deploy Docs

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-docs:
    name: Build Sphinx Docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up PDM
        uses: pdm-project/setup-pdm@v4
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          pdm sync -dG docs
      - name: Build HTML
        working-directory: docs
        run: |
          pdm run make html
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/build/html
