name: testing

on:
  # Triggers the workflow on push or pull request events, but only for the main branch
  push:
    branches: [ main, development ]
  pull_request:
    branches: [ main, development ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  isort:
    runs-on: ubuntu-latest
    name: Import Order
    steps:
      - uses: actions/checkout@v4
      - name: Set up PDM
        uses: pdm-project/setup-pdm@v4
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: |
          pdm sync -d
      - name: isort Lint
        run: |
          pdm sort

  flake8-lint:
    runs-on: ubuntu-latest
    name: Lint
    steps:
      - uses: actions/checkout@v4
      - name: Set up PDM
        uses: pdm-project/setup-pdm@v4
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: |
          pdm sync -d
      - name: flake8 Lint
        run: |
          pdm lint

  testing:
    name: Test
    needs: [flake8-lint, isort]
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12']
        # os: [ubuntu-latest, macOS-latest, windows-latest]
        include:
          # Development branch only runs on Ubuntu
          - os: ubuntu-latest
            branch: development
            python-version: 3.10
          - os: ubuntu-latest
            branch: development
            python-version: 3.11
          - os: ubuntu-latest
            branch: development
            python-version: 3.12

          # Main branch runs on all OSs
          - os: ubuntu-latest
            branch: main
            python-version: 3.10
          - os: ubuntu-latest
            branch: main
            python-version: 3.11
          - os: ubuntu-latest
            branch: main
            python-version: 3.12
          - os: macos-latest
            branch: main
            python-version: 3.10
          - os: macos-latest
            branch: main
            python-version: 3.11
          - os: macos-latest
            branch: main
            python-version: 3.12
          - os: windows-latest
            branch: main
            python-version: 3.10
          - os: windows-latest
            branch: main
            python-version: 3.11
          - os: windows-latest
            branch: main
            python-version: 3.12
    steps:
      - uses: actions/checkout@v4
      - name: Set up PDM
        uses: pdm-project/setup-pdm@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install system dependencies (Ubuntu)
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y libvips42 libopenslide0
      - name: Run Tests
        run: |
          pdm test
        continue-on-error: true # Temporary during deploy
    if: github.ref_name == matrix.branch # Ensure correct branch filtering


  coverage:
    needs: testing
    name: Coverage
    runs-on: ubuntu-latest
    if: github.ref_name == 'main'
    steps:
    - uses: actions/checkout@v4
    - name: Set up PDM
      uses: pdm-project/setup-pdm@v4
      with:
        python-version: '3.12'
    - name: Install system dependencies (Ubuntu)
      run: |
        sudo apt-get update
        sudo apt-get install -y libvips42 libopenslide0
    - name: Install dependencies
      run: |
        pdm sync -d
    - name: Generate coverage
      run: |
        pdm cov_report
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v4
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: ./coverage.xml
        flags: unittests
        name: codecov-umbrella
        fail_ci_if_error: true
        verbose: true
